*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(91, 239, 130);
    color: rgb(129, 128, 128);
}