*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 12px;
    font-weight: bold;
}
input,select,textarea{
    margin-top: 4px;
    padding: 6px;
    font-size: 1rem;
}
fieldset{
    margin-top: 16px;
    padding: 10px;
    border: 1px solid #ccc;

} legend{
    font-weight: bold;
    padding: 0 6px;
}
fieldset label{
    font-weight: normal;
    margin-right: 10px;
}
section{
    margin-top: 30px;
}
#btnEnviar{
    background-color: rgb(4, 60, 245);
    color: white;
    border-radius: 5px;
    border: none;
}
 #btnAgregar {
    background-color: rgb(5, 244, 77);
    color: white;
    border-radius: 5px;
    border: none;
}
#btnBorrarTodo{
     background-color: rgb(244, 57, 5);
    color: white;
    border-radius: 5px;
    border: none;
}
button{
    padding: 10px;
}
button:hover{
    opacity: 0.7;
}
#botones{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-left: 15px;
    
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f5f9;
    padding: 8px;
    margin-bottom: 6px;
}
.error .errorTxt{
    background-color: red;

}
.ok .okTxt{
background-color: green;
}