*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 232, 232);
    display: grid;
    place-items: center;
}
main{
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius: 8px;
}
input{
    padding:10px;
    font-size: 16px;
}
button{
    padding:10px;
    cursor:pointer;
}
button:hover{
    opacity: 0.6;
}

ul{lista-style:none;
}
li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border :1px solid #ddd;
}