*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* background-color: rgb(255, 179, 0);*/
    color: rgb(248, 246, 246);
    line-height: 1.5;
    background-image: url("img/gafas.jpg");
    background-position: center;
    background-size: cover;
}
h1{
    text-shadow: 4px 6px 4px gray;
    box-shadow:   0px 12px 20px green;
    
}