*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 12px;
    font-weight: bold;
}
input,select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 4px;
    padding: 6px;
    font-size: 1rem;
}
input:focus ,select:focus{
    outline: none;
    border-color: #2563eb;
}
fieldset{
    margin-top: 16px;
    padding: 10px;
    border: 1px solid #ccc;

} legend{
    font-weight: bold;
    padding: 0 6px;
}
fieldset label{
    font-weight: normal;
    margin-right: 10px;
}

fieldset input[type="radio"],
fieldset input[type="checkbox"] {
  width: auto;
}

section{
    margin-top: 30px;
}
#btnEnviar{
    background-color: rgb(4, 60, 245);
    color: white;
    border-radius: 5px;
    border: none;
}

button{
    padding: 10px;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* mensajes de error*/
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 9px;

}
/* inputs validos o erroneos*/
.input-ok {
 border: 2px solid green;


}
.input-error { border: 2px solid red; }