body{
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
}

form{
    color: red;
    width: 80%;
    
}
h1{
    display: block;
    text-align: center;
    color: rgb(223, 206, 19);
}
fieldset{
    border-radius: 5%;
    border-color: rgb(52, 4, 225);
    padding: 20px;
    margin: 10px;
    
}
label{
    margin-bottom: 5px;
    margin-top: 15px;
    display: block;
    
}
input,select,textarea{
    width: 100%;
    border-color: rgb(224, 11, 111); padding-top: 10px;
    
}
.prueba{
    color: aqua;
}
