*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: rgb(62, 62, 220);
    color: white;
}
h1{
    color: rgb(15, 10, 10);
    margin-bottom: 30px;
}
h2{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(207, 210, 30);
}
ol{
    text-align: justify;
    margin-bottom: 50px;
}
#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
label{
    color: rgb(36, 27, 27);
    font-weight: bold;
}